# defines where the logfile resides
# defaults to /var/spool/logfiles
logdirectory=logs/
# name of username file
usernamefile=ftpserver.users
# number of log files to keep, defaults to 5
numlogfiles=3
# port mode supported, defaults to NO
port_mode=NO
# pasv mode supported, defaults to YES
pasv_mode=YES